@using Microsoft.Ajax.Utilities
@using SMTH.Data.Users
@using SMTH.ViewModels.Reports

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reports Report";
}
@model ReportsReportViewModel
<br />
@if (!Model.isDateSelected)
{
    using (Html.BeginForm("ReportsReportDatePost", "Reports", FormMethod.Post))
    {
        @Html.DisplayNameFor(x => Model.StartDate)
        @Html.TextBoxFor(x => Model.StartDate, Model.StartDate.ToString("yyyy-MM-dd"))
        @Html.DisplayNameFor(x => Model.EndDate)
        @Html.TextBoxFor(x => Model.EndDate, Model.EndDate.ToString("yyyy-MM-dd"))
        @Html.HiddenFor(x => Model.data)
        @Html.HiddenFor(x => Model.templateName)
        <input type="submit" value="Select date" role="button" class="btn btn-default" />
    }
}
else
{
    <form action="@Model.generatorUrl" target="_blank" method="post">
        @Html.LabelFor(x => Model.ReportType, new { @class = "label label-default br" })<br />
        @Html.DropDownListFor(x => Model.ReportType, Model.TypeList, new { @class = "form-control br" })<br />
        @Html.HiddenFor(x => Model.templateName)
        @Html.HiddenFor(x => Model.data)
        <input type="submit" value="Generate" role="button" class="btn btn-default" onclick="" />
    </form>
}